---
layout: default
bodyClass: page-services-list
---

<!-- <div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      {% endif %}
    </div>
  </div>
</div> -->



<div class="container pt-6 pb-6">
  <div class = "intro-services">{{content}} </div>
  <div class="row">
    {% for service in site.services %}
    <div></div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>